* {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 600px;
    width: 90%;
    margin: 1rem auto;
  }
  
  .header {
    background-color: lightblue;
    max-inline-size: 50%;
  }
  
  .button {
    background-color: purple;
    padding: 1rem;
    justify-content: left;
    font-size: xx-large;
    margin: 0%;
    max-inline-size: 20%;
    max-height: 10%;
  }
  
  .toc ul {
    padding-left: 2rem;
  }
  
  .main-body {
    background-color: lightgreen;
  }
  
  .about {
    background-color: lightblue;
  }
  
  .footer {
    height: 150px;
    background-color: lightpink;
  }
  
  .big-screen-notice {
    display: none;
  }
  
  @media screen and (min-width: 800px) {
    .columns {
      display: flex;
    }
  
    .toc {
      flex: 1;
    }
  
    .main-body {
      flex: 2;
    }
  
    .about {
      flex: 1;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .button {
      flex: 3;
    }
  
    .big-screen-notice {
      display: block;
      font-size: 2rem;
      color: white;
      background-color: purple;
    }
  }